*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li{
  list-style: none;
}
button{
  border: 1px solid black;
  width: 120px;
  height: 33px;
  &:hover{
    background-color: #ffce40;
  }
}
a{
  text-decoration: none !important;
  color: black !important;
}
span{
  padding: 0px 10px;
  font-weight: 400;
}
.bg_gry{
  background-color: #444349;
}
.bg-body-tertiary{
  background-color: none;
}
.nav-link{
  color: white !important;
  font-size: 17px !important;
  padding: 0px 20px !important;


}
.pir >p{
  padding: 0px 10px;
  color: white;
}
.img{
  overflow: hidden;
  object-fit: cover;
  width: 100%;
}
img{
  overflow: hidden;
}
.carousel-caption{
  position: absolute;
  top: 25% !important;
  left: 25% !important;
  
}
.carousel-caption >p{
  font-size: 18px;
  padding-bottom: 0px !important;
  color: #ffce40;
  letter-spacing: 2px;
}
.carousel-caption >h3{
  letter-spacing: 2px;
  font-size: 40px;
  text-transform: uppercase;

}
.btn{
  border: 1px solid black;
  background-color: #ffce40 !important;
  height: 40px !important;
  width: 120px !important;
  padding: 10px 20px !important;
  border-radius: 0 !important;
  margin-top: 30px !important;
  margin-right: 140px !important ;
  &:hover{
    color: black !important;
    background-color: rgb(rgb(52, 44, 6), rgb(252, 241, 17), rgb(199, 199, 10));
  }
}

.spacer{
  margin: 90px 0px;
}
.info{
  /* border: 1px solid rgb(183, 183, 183); */
  height: 344px;
  width: 350px;
  padding: 40px;
  box-shadow: 5px 10px 20px rgb(231, 227, 227);
  margin-right: 20px;
}
.info >p{
  margin: 0px 90px;
  font-size: 35px;
  background-color:#feda73;
  width: 50px !important;
  height: 50px;
  padding: 0px 5px;

}
.info >li{
  font-weight: 700px !important;
  font-size: 18px;
  padding: 10PX 30PX;
  &:hover{
    color: #ffce40;
    cursor: pointer;
  }
}

.hr{
  border:1.2px solid rgb(223, 218, 218);
  width: 59px;
  margin-bottom: 20px;
  margin-left: 90px;
  &:hover{
    color: #ffdb73;
  }
}
.info >ul{
  font-size: 14px;
  padding: 0px 20px;

}
.two{
  margin: 20px 0px;
}
.two >h2{
  letter-spacing: 2px;
  padding-bottom: 20px;
}
.two >p{
  letter-spacing: 1px;
  font-size: 16px;
  line-height: 29px;
}
.home >p{
  padding: 10px 30px;
}
.btn1{
  background-color: #ffce40;
  &:hover{
    background-color: white;
  }
}
.btn2{
  background-color: white;
  width: 130px;
  &:hover{
    border: 1px solid #feda73;
    background-color: white;
    color: #ffce40;
  }
}
.gallary{
  margin-top: 60px !important;
  margin-bottom: 30px;
}
.si{
  padding-bottom: 20px;
}
.si >a{
  color: #aab4c7 !important;

}
.si >span{
  color: #c1d6fb;
}
.single{
  background-color: #f7f7f7;
  margin-top: 70px;
  height: 200px;
  border: 1px solid rgb(249, 248, 248);
  margin-bottom: 20px;
  position: relative;
  
}
.single_img{
  padding-left: 30px;
  position: absolute;
  border-radius: 50%;
  top: -50%;
  left: 15%;
  
}
.single >p{
  margin-top: 37px;
  padding: 0px 50px;
  align-content: center;
  font-size: 17px;
  font-weight: 500;


}
.single >li{

  font-size: 14px;
  color: #444349;
  padding: 0px 70px;
  padding-bottom: 10px;
  cursor: pointer;
    color: #ffce40;
  
  

}
.icon{
  padding-top: 20px;
}
.single >ul{
  color: #444349;
  font-size: 13px;
  padding-left: 70px;
  &:hover{
    color: #ffce40;
  }
}
.icon_img{
  font-size: 35px;
  color: #feda73;
  background-color: #f7f7f7;
  width: 60px;
  height: 60px;
  padding: 0px 10px;
  margin: 10px 70px;
}
.icon >h3{
  font-size: 18px;
  padding: 0px 20px;

}
.icon >li{
  color: #a6a7a9;
  font-size: 15px;
  word-spacing: 2px;
  letter-spacing: 1px;
}
.star{
  margin-left: 30px;
}

.star >p{
  padding-right: 10px;
  color: #ffce40;
  
}
.btn3{
  width: 200px !important;
  border: 2px solid black;
  background-color: white !important;
  height: 60px !important;
  /* width: 120px !important; */
  padding: 10px 30px;
  
  margin-top: 30px !important;
  margin-left: 40px;
  &:hover{
    background-color: #ffce40 !important;
    border: none;
  }
  
}
.border{
  border: 1px solid black;
}
.starr{
  margin: 80px 0px;
  
}
.starr >h3{
  margin-left: 30px;
  font-size: 18px;
  padding-bottom: 10px;


}
.starr >a{
  font-size: 13px;
  color: #aab4c7 !important;
  &:hover{
    color: #feda73 !important;
    cursor: pointer;
  }
}
.starr >li{
  letter-spacing: 1px;
  margin-left: 30px;
  word-spacing: 2px;
}
.get1{
  border: 1px solid rgb(226, 224, 224);
  
  border-right: none;
  margin: none !important;
}
.get{
  border: 1px solid rgb(226, 224, 224);
  border-left: none;
  margin: none !important;
}
.spacer2{
  margin: 30px 0px;
}
.bgtube{
  background-color: #f7f7f7;
}
.men{
  background-color: white;
  margin-bottom: 60px;
  padding: 20px 30px;
  box-shadow:  5px 10px rgba(234, 232, 232, 0.5);
  
}
.men_img{
  align-items: center;
  justify-content: center;
  padding:  0px 80px;
  
  
}
.men >p{
  padding: 20px;
  
}
.men>h5{
  padding: 0px 70px;
  font-size: 21px;
  &:hover{
    color: #feda73;
    cursor: pointer;
  }
}
.think{
height: 330px;
width: 350px;
padding: 50px 10px;
border: 20px solid #ebebeb;
&:hover{
  border: 10px solid #ebebeb ;
}
}
.think >h1{
  font-size: 105px;
  padding: 0px 80px;
  &:hover{
    border-bottom: 1px solid #feda73;
    
  }

}
.think >h2{
  padding: 0px 60px;
}
/* 725 sudhi ready che pan anthi nani sreen ty ne tyare img ni width ochi karvani */
/* @media screen and (max-width: 767px) {
  .over >img {
    width: 100%;
  }
}
@media screen and (min-width: 725px) {
  .over >img{
    width: 300px;

  }
  
} */



.footer_c{
  background-color: #444349;
}
.fot{
  color: white;
  margin: 40px 0px;
}
.fot >h2{
  font-size: 23px;
  padding-bottom: 20px;

}
.fot >.post_info >a{
  color: #ffce40 !important;

}
.fot > p >span{
  color: white;
  &:hover{
    color: #ffce40;
    cursor: pointer;
  }
}
.fot >a{
  color: #ffce40 !important;
  /* padding: 0px 20px; */
  padding-right: 20px;
  font-size: 16px;
  padding-bottom: 13px;
  
}
.fot >li{
  font-size: 15px;
  color: #aab4c7;

}
.p-1 >p >a{
  color: #feda73 !important;
}
.p-2{
 margin-left: 40px;
}
.p-2 >p >a{
  color: #ffce40 !important;
}



.btn4{
  width: 200px !important;
  border: 2px solid rgb(250, 249, 249);
  background-color: #444349 !important;
  color: white;
  height: 60px !important;
  /* width: 120px !important; */
  padding: 10px 30px;
  
  margin-top: 30px !important;
  margin-left: 40px;
  &:hover{
    background-color: #ffce40 !important;
    border: none;
  }
}

.fote >p{
  color: #ffdb73;
}